# System files
.DS_Store
Thumbs.db

# Environment Variables (ความลับ ห้ามเอาขึ้น!)
.env
backend/.env

# Node Modules (Frontend)
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Python (Backend)
backend/__pycache__/
backend/venv/
backend/.pytest_cache/

# Generated Images & Data
processed_images/
nginx/
database/
mongo_data/