@tailwind base;
@tailwind components;
@tailwind utilities;

/* ตั้งค่าพื้นหลังสีดำสนิท */
body {
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
}

/* ปรับ Scrollbar ให้เท่ๆ */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}